/*Meta formatting*/
.left-meta {
    float: left;
}

.right-meta {
    float: right;
}

#meta {
    background: #e9edf2;
}

/* Branding */

#logo {
    padding: 0 10px 0 0;
    float: left;
}

/*Top Main Menu */
.region-top-menu ul.menu a {
    font-size: 1.2em;
    font-weight: 600;
}
/*
   Main Menu
*/

.region-top-menu .block-inner {
    margin: 5px 10px;
}

/*
   Hero
*/

#page > #hero {
}